<!DOCTYPE html>
<html lang="en">

{% block head %}
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static 'BooksApp/images/favicon.ico' %}">

    <title>Gutenberg Books</title>
    <!--http://tympanus.net/codrops/2011/11/28/typography-effects-with-css3-and-jquery/ -->

    {% block styles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'BooksApp/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'BooksApp/css/custom.css' %}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <style>





    </style>
    {% endblock %}

</head>
{% endblock %}

{% block body %}
<body>
<div class="container">
    <div id="intro">
        <h1>
            Public Domain Book Analysis
        </h1>
        <p>I like to worm through books and slither around code. So naturally I present: very important analysis of public domain books in Python!</p>
        <p>Check it out on <a href="https://github.com/vbetts/books_for_heroku">Github</a></p>
        <p>Intrigued? Perhaps you'd like to <a href="#footer_panel">contact me</a></p>
        <p>Let's get on with the show!</p>
    </div>

    <h2 class="headline">Dramatis Personae</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default" id="alice">
                <div class="panel-body">
                    <p class="book_title text-center">
                        Alice in Wonderland
                    </p>
                    <div class="emoji">👧🌀🐇</div>
                    <hr width="60%">
                    <p class=text-center><i>"{{ opening_line_alice }}"</i></p>
                    <hr width="60%">
                    <div class="book_summary">
                        <p class="author">Lewis Carroll</p>
                        <p class="date">1865, London</p>
                        <hr width="60%">
                        <p class="wordcount">{{ wordcount_alice }} words</p>
                        <p class="summary_title">Summarized in the 10 most common words:</p>
                        <p class="summary">
                            {% for word in ordered_alice %}
                            {{ word }}
                            {% endfor %}

                        </p>
                    </div>
                    <a href="http://www.gutenberg.org/ebooks/11" class="source">Source: Project Gutenberg</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" id="dracula">
                <div class="panel-body">
                    <p class="book_title text-center">
                        Dracula</p>
                    <div class="emoji">😈🏰🌙</div>
                    <hr width="60%">
                    <p class=text-center><i>"{{ opening_line_dracula }}"</i></p>
                    <hr width="60%">
                    <div class="book_summary">
                        <p class="author">Bram Stoker</p>
                        <p class="date">1897, London</p>
                        <hr width="60%">
                        <p class="wordcount">{{ wordcount_dracula }} words</p>
                        <p class="summary_title">Summarized in the 10 most common words:</p>
                        <p class="summary">
                            {% for word in ordered_dracula %}
                            {{ word }}
                            {% endfor %}

                        </p>
                    </div>
                    <a href="http://www.gutenberg.org/ebooks/345" class="source">Source: Project Gutenberg</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="book_title text-center">
                        Moby-Dick
                    </p>
                    <div class="emoji">🐋👨⚓</div>
                    <hr width="60%">
                    <p class=text-center><i>"{{ opening_line_moby }}"</i></p>
                    <hr width="60%">
                    <div class="book_summary">
                        <p class="author">Herman Melville</p>
                        <p class="date">1851, New York</p>
                        <hr width="60%">
                        <p class="wordcount">{{ wordcount_moby }} words</p>
                        <p class="summary_title">Summarized in the 10 most common words:</p>
                        <p class="summary">
                            {% for word in ordered_moby %}
                            {{ word }}
                            {% endfor %}

                        </p>
                    </div>
                    <a href="http://www.gutenberg.org/ebooks/2701" class="source">Source: Project Gutenberg</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="book_title text-center">
                        Pride and Prejudice
                    </p>
                    <div class="emoji">👩💖👨</div>
                    <hr width="60%">
                    <div class="book_summary"></div>
                    <p class=text-center><i>"{{ opening_line_pp }}"</i></p>
                    <hr width="60%">
                    <div class="book_summary">
                        <p class="author">Jane Austen</p>
                        <p class="date">1813, London</p>
                        <hr width="60%">
                        <p class="wordcount">{{ wordcount_pp }} words</p>
                        <p class="summary_title">Summarized in the 10 most common words:</p>
                        <p class="summary">
                            {% for word in ordered_pp %}
                            {{ word }}
                            {% endfor %}

                        </p>
                    </div>
                    <a href="http://www.gutenberg.org/ebooks/42671" class="source">Source: Project Gutenberg</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="book_title text-center">
                        A Tale of Two Cities
                    </p>
                    <div class="emoji">🇫🇷🌇🇬🇧</div>
                    <hr width="60%">
                    <p class=text-center><i>"{{ opening_line_two_cities }}"</i></p>
                    <hr width="60%">
                    <div class="book_summary">
                        <p class="author">Charles Dickens</p>
                        <p class="date">1859, London</p>
                        <hr width="60%">
                        <p class="wordcount">{{ wordcount_two_cities }} words</p>
                        <p class="summary_title">Summarized in the 10 most common words:</p>
                        <p class="summary">
                            {% for word in ordered_two_cities %}
                            {{ word }}
                            {% endfor %}

                        </p>
                    </div>
                    <a href="http://www.gutenberg.org/ebooks/98" class="source">Source: Project Gutenberg</a>
                </div>
            </div>
        </div>
    </div>

    <h2>Have you ever wondered what the longest common sequence of words is between...</h2>
    <h2>...Alice in Wonderland and Dracula?</h2>
    {% for sequence in common_seq_ad %}
    <h3 class="sequence">"{{ sequence }}"</h3>
    {% cycle '<p class="also"><b>and also...</b></p>' '' %}
    {% endfor %}

    <h2>Interesting! How about Pride and Prejudice and Moby Dick?</h2>
    {% for sequence in common_seq_pp_md %}
    <h3 class="sequence">"{{ sequence }}"</h3>
    {% endfor %}

    <h2>We might as well come full circle: Alice and A Tale of Two Cities:</h2>
    {% for sequence in common_seq_a_tt %}
    <h3 class="sequence">"{{ sequence }}"</h3>
    {% cycle '<p class="also"><b>and also...</b></p>' '' %}
    {% endfor %}
    <h2>While we're here, we should take a look at the most common words in Pride and Prejudice.
        Elizabeth seems to be mentioned much more often than Mr. Darcy!</h2>
    <div id="wordCloud" class="chart"></div>
    <h3>(You may have noticed that I excluded some of the most common words. In the interest of full-disclosure, here's a representation of the blacklisted words)</h3>
    <div id="stopwordCloud" class="chart"></div>
    <h2>I've often wondered how many women are mentioned in Moby-Dick</h2>
    <div id="donut_Moby" class="chart"></div>
    <h2>Hmm... That's not entirely unexpected. Alice in Wonderland balances things out a little bit: </h2>
    <div id="donut_Alice" class="chart"></div>
    <h2>Maybe we can break this down and explore it a little further. How often is each specific pronoun mentioned?</h2>
    <div class="col-md-12">
        <div id="stackedbar" class="chart"></div>
    </div>

    <h2>Cool! You learn something new every day.</h2>
    <div class="col-md-8 col-md-offset-2" id="footer_panel">
        <div class="panel panel-default">
            <div class="panel-body">
                <p class="book_title text-center">
                    Greetings!
                </p>
                <hr width="60%">
                <p>Thanks for taking a look. I built this page using Django, Bootstrap 3, and several Javascript libraries:</p>
                <ul>
                    <li><a href="http://www.highcharts.com/">Highcharts</a> for the graphs</li>
                    <li><a href="http://d3js.org/">D3</a> for the <a href="https://github.com/jasondavies/d3-cloud">word clouds</a></li>
                </ul>
                <p>If you liked this project, good news (for both of us): I'm currently seeking employment in Kitchener, Waterloo or Guelph, ON for September 2015!</p>
                <p>I'm on <a href="https://github.com/vbetts">Github</a>,
                    <a href="https://ca.linkedin.com/pub/victoria-betts/30/122/945">LinkedIn</a> and <a href="https://about.me/victoriabetts">About.me</a>.</p>
                <p>You can drop me a line at toribetts[at]gmail[dot]com or, if brevity is your thing, fire off 140 characters to
                    <a href="https://www.twitter.com/toribot5000">@Toribot5000</a></p>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}

{% block footer %}
<footer>
</footer>
{% endblock %}


{% block scripts %}
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script src="{% static 'BooksApp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'BooksApp/js/d3.layout.cloud.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'BooksApp/js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<script>
//Word Cloud

var fill = d3.scale.category20();


randomRotate=d3.scale.linear().domain([0,1]).range([-75,75]);

d3.csv( "{% static 'BooksApp/csv/pride_prej.csv' %}", function(d) {
        return {
          text: d.word,
          size: +d.frequency/6
        }
      },
      function(data) {
        d3.layout.cloud().size([1000, 600]).words(
          data
          )
          .rotate(function() {return randomRotate(Math.random())})
          .font("Impact")
          .fontSize(function(d) {
            return d.size;
          })
          .on("end", draw)
          .start();

        function draw(words) {

          console.log(words);
          d3.select("#wordCloud").append("svg")
            .attr("width", 1000)
            .attr("height", 600)
            .append("g")
            .attr("transform", "translate(500,300)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) {
              return d.size + "px";
            })
            .style("font-family", "Impact")
            .style("align", "center")
            .style("fill", function(d, i) {
              return fill(i);
            })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) {
              return d.text;
            });
        }
      });

</script>
<script>
//Stopword Cloud


var fill_bw = d3.scale.ordinal().range(['#3D3D3D', '#000000', '#949494', '#D1D1D1',]).domain(d3.range(0,5))

randomRotate=d3.scale.linear().domain([0,1]).range([-75,75]);

d3.csv( "{% static 'BooksApp/csv/pp_stopwords.csv' %}", function(d) {
        return {
          text: d.word,
          size: +d.frequency/10
        }
      },
      function(data) {
        d3.layout.cloud().size([1000, 600]).words(
          data
          )
          .rotate(function() {return randomRotate(Math.random())})
          .font("Impact")
          .fontSize(function(d) {
            return d.size;
          })
          .on("end", draw)
          .start();

        function draw(words) {

          console.log(words);
          d3.select("#stopwordCloud").append("svg")
            .attr("width", 1000)
            .attr("height", 600)
            .append("g")
            .attr("transform", "translate(500,300)")
            .selectAll("text")
            .data(words)
            .enter().append("text")
            .style("font-size", function(d) {
              return d.size + "px";
            })
            .style("font-family", "Impact")
            .style("align", "center")
            .style("fill", function(d, i) {
              return fill_bw(i);
            })
            .attr("text-anchor", "middle")
            .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
            })
            .text(function(d) {
              return d.text;
            });
        }
      });

</script>
<script>
    //Half donut chart - Moby Dick
    $(function () {
    $('#donut_Moby').highcharts({
        chart: {
        backgroundColor: "rgba(255, 255, 255, 0)",
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false,

        },
        title: {
            text: 'Moby Dick<br>Pronoun<br>Breakdown',
            align: 'center',
            verticalAlign: 'middle',
            y: 40
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Frequency',
            innerSize: '50%',
            data: [
                {
                    name: 'Not Dick',
                    y: {{ f_count_moby_dick }},
                    color: '#944DDB'
                },
                {
                name: 'Dick',
                y: {{ m_count_moby_dick }},
                color: '#CC0000'
                },

            ]
        }]
    });
});

</script>
<script>
    //Half donut chart - Alice
    $(function () {
    $('#donut_Alice').highcharts({
        chart: {
            backgroundColor: "rgba(255, 255, 255, 0)",
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Alice in<br>Wonderland<br>Pronoun Breakdown',
            align: 'center',
            verticalAlign: 'middle',
            y: 40
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                dataLabels: {
                    enabled: true,
                    distance: -50,
                    style: {
                        fontWeight: 'bold',
                        color: 'white',
                        textShadow: '0px 1px 2px black'
                    }
                },
                startAngle: -90,
                endAngle: 90,
                center: ['50%', '75%']
            }
        },
        series: [{
            type: 'pie',
            name: 'Frequency',
            innerSize: '50%',
            data: [
                {
                    name: 'Girls',
                    y: {{ f_count_alice }},
                    color: '#944DDB'
                },
                {
                    name: 'Boys',
                    y: {{ m_count_alice }},
                    color: '#CC0000'
                },

            ]
        }]
    });
});

</script>
<script>
    //Stacked Bar Chart
$(function () {
    $('#stackedbar').highcharts({

        chart: {
            type: 'column',
            backgroundColor: "rgba(255, 255, 255, 0)",
        },

        title: {
            text: 'Pronoun Frequency Grouped by Gender'
        },

        xAxis: {
            categories: ['Alice in Wonderland', 'Dracula', 'Moby Dick', 'Pride and Prejudice', 'A Tale of Two Cities']
        },

        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: 'Word Frequency'
            }
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.x + '</b><br/>' +
                    this.series.name + ': ' + this.y + '<br/>' +
                    'Total: ' + this.point.stackTotal;
            }
        },

        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },

        series: [{
            name: 'Her',
            data: {{ her_counts }},
            stack: 'female',
            color: '#290052'
        }, {
            name: 'She',
            data: {{ she_counts }},
            stack: 'female',
            color: '#5200A3'
        }, {
            name: 'Hers',
            data: {{ hers_counts }},
            stack: 'female',
            color: '#944DDB'
        }, {
            name: 'Herself',
            data: {{ herself_counts }},
            stack: 'female',
            color: '#D1B2F0'
        }, {
            name: 'He',
            data: {{ he_counts }},
            stack: 'male',
            color: '#520000'
        }, {
            name: 'Him',
            data: {{ him_counts }},
            stack: 'male',
            color: '#8F0000'
        }, {
            name: 'His',
            data: {{ his_counts }},
            stack: 'male',
            color: '#CC0000'
        }, {
            name: 'Himself',
            data: {{ himself_counts }},
            stack: 'male',
            color: '#DB4D4D'
        }]
    });
});
</script>

{% endblock %}

</html>
